
/* Main HTML */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* Navbar */

#navbar {
    padding: 1rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

#navbar ul li a {
    padding: 0.5rem;
}

#navbar ul li a:hover {
    background: rgba(235, 245, 105, 0.774);
}

#navbar .nav-header h1 {
    color: #fff;
}

#navbar .nav-header p {
    color: #fff;
}

.nav-header {
    display: flex;
    flex-direction: column;
}

/* Body Image */

#body-section-image {
    margin-bottom: 3rem;
}

#body-section-image .body-image {
    width: 100%;
    height: 360px;
}



/* Body Section */

.body-container {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    color: #fff;
}




/* Description */

#description {
    display: flex;
    flex-direction: row;
    margin: 1.5em;
    margin-bottom: 2rem;
}

.body-description {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 2rem;
}

.body-description img {
    width: 32px;
    height: 32px;
}

.description-header {
    display: flex;
    flex-direction: row;
}

#description .body-description .description-header img {
    margin-right: 0.6rem;
    margin-bottom: 0.4rem;
}

#description .body-description a{
    color: blue;
    align-self: flex-end;
}


/* Photography */

#description-photography .article-part-one {
    width: 50%;
    display: flex;
    flex-direction: row;
}

#description-photography article {
    display: flex;
    flex-direction: row;
}

#description-photography .photography-img img {
    margin: 1rem;
    width: 10rem;
    height: 11rem;

}

