
/* Main HTML */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}





/* Navbar */

#navbar {
    padding: 1rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

#navbar ul li a {
    padding: 0.5rem;
}

#navbar ul li a:hover {
    background: rgba(235, 245, 105, 0.774);
}

#navbar .nav-header h1 {
    color: #fff;
}

#navbar .nav-header p {
    color: #fff;
}

.nav-header {
    display: flex;
    flex-direction: column;
}

/* Body Image */

#body-section-image {
    margin-bottom: 3rem;
}

#body-section-image .body-image {
    width: 100%;
    height: 360px;
}





/* Body Section */

.body-container {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    color: #fff;
}






/* Description */

#description {
    display: flex;
    flex-direction: row;
    margin: 1.5em;
    margin-bottom: 2rem;
}

.body-description {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 2rem;
}

.body-description img {
    width: 32px;
    height: 32px;
}

.description-header {
    display: flex;
    flex-direction: row;
}

#description .body-description .description-header img {
    margin-right: 0.6rem;
    margin-bottom: 0.4rem;
}

#description .body-description a{
    color: blue;
    align-self: flex-end;
}






/* Photography */

#description-photography .article-part-one {
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-bottom: 1.2rem;
    margin-top: 0.3rem;
}

#description-photography article {
    display: flex;
    flex-direction: row;
}

#description-photography .photography-img img {
    margin: 1rem;
    width: 10rem;
    height: 11rem;

}

.article-part-one .description {
    margin-top: 1.5rem;
}





/* Categories */

#categories article{
    display: flex;
    flex-direction: row;
}

#categories .photography-categories {
    display: flex;
    flex-direction: column;
    width: 68%;
}

#categories .link-categories {
    display: flex;
    flex-direction: column;
    width: 32%;
}

#categories .photography-categories .categories-img img {
    margin: 1rem;
    width: 10rem;
    height: 11rem;
}

#categories .photography-categories .categories-one {
    display: flex;
    flex-direction: row;
}

#categories .photography-categories .categories-two {
    display: flex;
    flex-direction: row;
}

.categories-one .categories-description {
    margin-top: 1.5rem;
}

.categories-one .categories-description a {
    color: blue;
    display: flex;
    margin-top: 1rem;
    
}
.categories-one .categories-description a:hover {
    color: rgb(185, 247, 71);
    
    
}

.categories-two .categories-description a {
    color: blue;
    display: flex;
    margin-top: 1rem;
}

.categories-two .categories-description a:hover {
    color: rgb(185, 247, 71);
}

#categories .link-categories .header-categories h4{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
}


.link-categories .link ul li{
    
}

.link-categories .link {
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: bold;
    border-bottom: 0.5px dashed;
}

.link-categories .link a{
    color: black;
}

.link-categories .link a:hover{
    color: blue;
}