
/* Main HTML */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    color: #fff;
}

/* Navbar */

#navbar {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

#navbar ul li a {
    padding: 0.5rem;
}

#navbar ul li a:hover {
    background: rgba(235, 245, 105, 0.774);
    
}

.nav-header {
    display: flex;
    flex-direction: column;
}