
/* Navbar */

#navbar {
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow: hidden;
}

#navbar .nav-header {
    padding-bottom: 1rem;
}

/* Text */

.t-center {
    text-align: center;
}



/* Description */

#description {
    display: flex;
    flex-direction: column;
    margin: 1.5em;
    margin-bottom: 2rem;
}

/* Photography */

#description-photography .article-part-one {
    display: flex;
    flex-direction: column;
}



/* Categories */

#categories article{
    display: flex;
    flex-direction: column;
}

.link-categories .link  {
    align-items: center;
}